table {
  border-collapse: collapse;
  table-layout: auto;
}

th, td {
  height: 30px;
  width: 75px;
  text-align: center;
}

table tr td:first-child,
table tr th:first-child {
  border-right: 1px solid black;
}
table tr td:last-child,
table tr th:last-child {
  border-left: 1px solid black;
}

.break {
  border: 1px solid black;
}

.scoresheet-container {
  display: flex;
  flex: 1.5;
  justify-content: center;
}

.score-above {
  vertical-align: bottom;
}

.score-below {
  vertical-align: top;
}
