table {
  border-collapse: collapse;
  table-layout: auto;
}
.break {
  border: 1px solid black;
}
th, td {
  height: 30px;
  width: 75px;
  text-align: center;
}

table tr td:first-child,
table tr th:first-child {
  border-right: 1px solid black;
}
table tr td:last-child,
table tr th:last-child {
  border-left: 1px solid black;
}

.score-container {
  padding: .5rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.score {
  cursor: default;
  flex-grow: 1;
}

.score-ellipse {
  background: none;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0;
  font: inherit;
  font-size: .75rem;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  right: 0;
}

.score-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: grey;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  width: 100px;
}
