table {
  border-collapse: collapse;
}
.break {
  border: 1px solid black;
}
th, td {
  height: 15px;
  width: 50px;
}

table tr td:first-child,
table tr th:first-child {
  border-right: 1px solid black;
}
table tr td:last-child,
table tr th:last-child {
  border-left: 1px solid black;
}